@model MVCPeopleDatabase.Models.ViewModels.CreateCityViewModel

@{
    ViewData["Title"] = "CreateCity";
}

<h1>Create a City</h1>

<h4>CityViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <datalist id="CityNameList">
                @foreach (Country country in Model.Countries)
                {
                    <option value="@country.Id">@country.Name</option>
                }
            </datalist>
            <div class="form-group">
                <input type="submit" value="CreateCity" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

