@{
    ViewData["Title"] = "Index";
}
<h1>City</h1>

<a asp-action="Add">Add a City</a>

<div class="row font-weight-bold mt-3">
    <div class="col-6">Add</div>
    <div class="col-6">Edit</div>
    
    <div class="col-6"></div>
    <div class="col-6"></div>
</div>





